// Quasar app config variables
$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;
$dark: #1d1d1d;
$positive: #21ba45;
$negative: #db2828;
$info: #31ccec;
$warning: #f2711c;

// Custom variables can be added here
$border-radius: 4px;
